<a href="https://colab.research.google.com/github/juliakaneko/Analysis/blob/main/NFL_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inclass Assignment

## Find a sports database
## after conduction initial EDA which include and not limited to:
##    1. Change at least two column names and complete at least one broadcast operation.
##        (make sure to make a copy of the new version of the dataset once in a while)
## answer questions:
##  1. Who are the highest paid players in the sport.
##  2. who is the most efficient player in that sport
##  3. Which is the better team in that sport
##  4. Come up with 5 more questions and answers.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
nfl = pd.read_csv('https://raw.githubusercontent.com/juliakaneko/MLA-Data/main/football_salaries.csv')

In [ ]:
nfl.head()

       position          player  ... fully_guaranteed  free_agency
0  right-tackle     Trent Brown  ...         36250000     2023 UFA
1  right-tackle   Ja’Wuan James  ...         27000000     2023 UFA
2  right-tackle    Lane Johnson  ...         20862242    2022 Void
3  right-tackle    Ricky Wagner  ...         17500000     2022 UFA
4  right-tackle  Rob Havenstein  ...          9976365     2023 UFA

[5 rows x 9 columns]

##EDA

In [ ]:
nfl.head(10)

       position          player  ... fully_guaranteed  free_agency
0  right-tackle     Trent Brown  ...         36250000     2023 UFA
1  right-tackle   Ja’Wuan James  ...         27000000     2023 UFA
2  right-tackle    Lane Johnson  ...         20862242    2022 Void
3  right-tackle    Ricky Wagner  ...         17500000     2022 UFA
4  right-tackle  Rob Havenstein  ...          9976365     2023 UFA
5  right-tackle    Morgan Moses  ...         14047000     2023 UFA
6  right-tackle    Bobby Massie  ...         15800000    2023 Void
7  right-tackle   La’el Collins  ...          9500000     2020 UFA
8  right-tackle   Chris Hubbard  ...          9000000     2023 UFA
9  right-tackle    Bryan Bulaga  ...          8000000     2020 UFA

[10 rows x 9 columns]

In [ ]:
nfl.tail(10)

            position          player  ... fully_guaranteed  free_agency
5513  defensive-back   D.J. Killings  ...                0    2020 ERFA
5514  defensive-back   Josh Thornton  ...                0    2020 ERFA
5515  defensive-back   Orion Stewart  ...                0    2020 ERFA
5516  defensive-back   Henre Toliver  ...                0    2020 ERFA
5517  defensive-back   Tray Matthews  ...                0    2020 ERFA
5518  defensive-back    Trey Johnson  ...                0    2020 ERFA
5519  defensive-back  Rolan Milligan  ...                0    2020 ERFA
5520  defensive-back   Jeremy Reaves  ...                0    2020 ERFA
5521  defensive-back  Dallin Leavitt  ...                0    2020 ERFA
5522  defensive-back    Jake Carlock  ...            20000     2022 RFA

[10 rows x 9 columns]

In [ ]:
nfl.index

RangeIndex(start=0, stop=5523, step=1)

In [ ]:
nfl.values

array([['right-tackle', 'Trent Brown', 'Raiders', ..., 36250000,
        36250000, '2023 UFA'],
       ['right-tackle', 'Ja’Wuan James', 'Broncos', ..., 32000000,
        27000000, '2023 UFA'],
       ['right-tackle', 'Lane Johnson', 'Eagles', ..., 35500000,
        20862242, '2022 Void'],
       ...,
       ['defensive-back', 'Jeremy Reaves', 'Redskins', ..., 0, 0,
        '2020 ERFA'],
       ['defensive-back', 'Dallin Leavitt', 'Raiders', ..., 0, 0,
        '2020 ERFA'],
       ['defensive-back', 'Jake Carlock', 'Giants', ..., 0, 20000,
        '2022 RFA']], dtype=object)

In [ ]:
nfl.shape

(5523, 9)

In [ ]:
nfl.dtypes

position            object
player              object
team                object
age                  int64
total_value          int64
avg_year             int64
total_guaranteed     int64
fully_guaranteed     int64
free_agency         object
dtype: object

In [ ]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5523 entries, 0 to 5522
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   position          5523 non-null   object
 1   player            5523 non-null   object
 2   team              5523 non-null   object
 3   age               5523 non-null   int64
 4   total_value       5523 non-null   int64
 5   avg_year          5523 non-null   int64
 6   total_guaranteed  5523 non-null   int64
 7   fully_guaranteed  5523 non-null   int64
 8   free_agency       5518 non-null   object
dtypes: int64(5), object(4)
memory usage: 388.5+ KB

## Column

In [ ]:
nfl.rename(columns = {"free_agency": "free agency"}, 
          inplace = True)
nfl.rename(columns = {"position": "Position"}, 
          inplace = True)

In [ ]:
nfl.head()

       Position          player  ... fully_guaranteed  free agency
0  right-tackle     Trent Brown  ...         36250000     2023 UFA
1  right-tackle   Ja’Wuan James  ...         27000000     2023 UFA
2  right-tackle    Lane Johnson  ...         20862242    2022 Void
3  right-tackle    Ricky Wagner  ...         17500000     2022 UFA
4  right-tackle  Rob Havenstein  ...          9976365     2023 UFA

[5 rows x 9 columns]

## Broadcasting

In [ ]:
nfl.head()

       Position          player  ... fully_guaranteed  free agency
0  right-tackle     Trent Brown  ...         36250000     2023 UFA
1  right-tackle   Ja’Wuan James  ...         27000000     2023 UFA
2  right-tackle    Lane Johnson  ...         20862242    2022 Void
3  right-tackle    Ricky Wagner  ...         17500000     2022 UFA
4  right-tackle  Rob Havenstein  ...          9976365     2023 UFA

[5 rows x 9 columns]

In [ ]:
nfl['avg_year'].add(100000)
nfl['avg_year'] + 100000

0       16600000
1       12850000
2       11350000
3        9600000
4        8225000
          ...
5518      595000
5519      587500
5520      587500
5521      587500
5522      120000
Name: avg_year, Length: 5523, dtype: int64

In [ ]:
nfl['fully_guaranteed'].sub(25000)

0       36225000
1       26975000
2       20837242
3       17475000
4        9951365
          ...
5518      -25000
5519      -25000
5520      -25000
5521      -25000
5522       -5000
Name: fully_guaranteed, Length: 5523, dtype: int64

In [ ]:
nfl.head(6)

       Position          player  ... fully_guaranteed  free agency
0  right-tackle     Trent Brown  ...         36250000     2023 UFA
1  right-tackle   Ja’Wuan James  ...         27000000     2023 UFA
2  right-tackle    Lane Johnson  ...         20862242    2022 Void
3  right-tackle    Ricky Wagner  ...         17500000     2022 UFA
4  right-tackle  Rob Havenstein  ...          9976365     2023 UFA
5  right-tackle    Morgan Moses  ...         14047000     2023 UFA

[6 rows x 9 columns]

## Questions

In [ ]:
nfl.head()

       Position          player  ... fully_guaranteed  free agency
0  right-tackle     Trent Brown  ...         36250000     2023 UFA
1  right-tackle   Ja’Wuan James  ...         27000000     2023 UFA
2  right-tackle    Lane Johnson  ...         20862242    2022 Void
3  right-tackle    Ricky Wagner  ...         17500000     2022 UFA
4  right-tackle  Rob Havenstein  ...          9976365     2023 UFA

[5 rows x 9 columns]

In [ ]:
# 1. Who are the highest paid players in the sport.
nfl[nfl['avg_year']==nfl['avg_year'].max()]

         Position          player  ... fully_guaranteed  free agency
1130  quarterback  Russell Wilson  ...         70000000     2024 UFA

[1 rows x 9 columns]

In [ ]:
# 2. who is the most efficient player in that sport
nfl[nfl['total_value']==nfl['total_value'].max()]

         Position     player  ... fully_guaranteed  free agency
1289  quarterback  Matt Ryan  ...         94500000     2024 UFA

[1 rows x 9 columns]

In [ ]:
# 3. Which is the better team in that sport
nfl['team'].describe()

count         5523
unique          32
top       Dolphins
freq           183
Name: team, dtype: object

In [ ]:
# 4. How many defensive-backers? 549
# 5. How many quarterbacks? 119
nfl['Position'].value_counts()

defensive-back             549
offensive-line             489
defensive-line             426
wide-receiver              383
linebacker                 369
cornerback                 315
traditional-linebacker     300
interior-defensive-line    271
safety                     233
edge-rusher                218
running-back               197
tight-end                  195
inside-linebacker          171
4-3-defensive-end          153
4-3-defensive-tackle       142
4-3-outside-linebacker     129
quarterback                119
left-tackle                111
right-guard                108
right-tackle               100
left-guard                  97
3-4-defensive-end           96
center                      90
3-4-outside-linebacker      67
punter                      46
kicker                      44
long-snapper                43
3-4-defensive-tackle        40
fullback                    22
Name: Position, dtype: int64

In [ ]:
# 6. Which position had the most players?
nfl['Position'].describe()

count               5523
unique                29
top       defensive-back
freq                 549
Name: Position, dtype: object

In [ ]:
# 7. Which team has the most players?
nfl['team'].describe()

count         5523
unique          32
top       Dolphins
freq           183
Name: team, dtype: object

In [ ]:
# 8. Who is the least gurantted player? A: George Fant
nfl[nfl['fully_guaranteed']==nfl['fully_guaranteed'].min()]

                    Position            player  ... fully_guaranteed  free agency
22              right-tackle       George Fant  ...                0     2020 UFA
30              right-tackle       Rashod Hill  ...                0     2020 UFA
34    3-4-outside-linebacker  Jadeveon Clowney  ...                0     2020 UFA
68                linebacker  Jadeveon Clowney  ...                0     2020 UFA
80    3-4-outside-linebacker  Brennan Scarlett  ...                0     2020 UFA
...                      ...               ...  ...              ...          ...
5517          defensive-back     Tray Matthews  ...                0    2020 ERFA
5518          defensive-back      Trey Johnson  ...                0    2020 ERFA
5519          defensive-back    Rolan Milligan  ...                0    2020 ERFA
5520          defensive-back     Jeremy Reaves  ...                0    2020 ERFA
5521          defensive-back    Dallin Leavitt  ...                0    2020 ERFA

[1967 rows x 9 columns]

In [ ]:
nfl.to_csv('/content/drive/MyDrive/Colab Notebooks/Day 6 Pandas,nfl.csv')

In [ ]:
# 9. Which free agency is most popular?
nfl['free agency'].describe()

count         5518
unique          17
top       2020 UFA
freq          1117
Name: free agency, dtype: object